In [2]:
import os 
os.chdir("..")

In [3]:
from utils.utils_reader import Reader

In [3]:
reader = Reader()

INFO:LOG-READER:Reader Creation ...
INFO:LOG-READER:Reader Created

In [4]:
reader.download()

INFO:LOG-READER:Authentication Kaggle ...
INFO:LOG-READER:Authenticated Kaggle
INFO:LOG-READER:Downloading ...
INFO:LOG-READER:Downloaded

In [5]:
ls

 Il volume nell'unit… C Š Windows
 Numero di serie del volume: FA9C-CACE

 Directory di C:\Users\NizarBenSfar\Desktop\NLP\src

05/01/2022  14:20    <DIR>          .
05/01/2022  14:20    <DIR>          ..
05/01/2022  14:10                 0 __init__.py
07/01/2022  09:00    <DIR>          data
05/01/2022  18:03    <DIR>          notebooks
05/01/2022  14:16    <DIR>          utils
               1 File              0 byte
               5 Directory  347.724.898.304 byte disponibili

In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv("data/twcs/twcs.csv")

In [6]:
df = df.sort_values(by="tweet_id").reset_index(drop=True)

In [7]:
display(df.head(100))

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
...,...,...,...,...,...,...,...
95,115,737705,True,Mon Oct 30 21:33:37 +0000 2017,@ChipotleTweets ummmmm my outfit is a meme so ...,2607927,81.0
96,116,741212,True,Mon Oct 30 22:18:22 +0000 2017,@ChipotleTweets Are bowls included?,2623746,81.0
97,117,741888,True,Tue Oct 31 00:04:44 +0000 2017,@ChipotleTweets the offer is one per person?,2626579,81.0
98,119,745138,True,Tue Oct 31 00:46:48 +0000 2017,@ChipotleTweets Are guac and extra meat includ...,2640340,81.0
99,121,745648,True,Tue Oct 31 01:42:33 +0000 2017,@ChipotleTweets Soooooo how elaborate does my ...,2642460,81.0

In [8]:
df.shape

(2811774, 7)

In [85]:
tweet_ids = df.tweet_id.values

In [86]:
starter_tweet_ids = df[df.in_response_to_tweet_id.isna()].tweet_id.values

In [82]:
class Node:
    def __init__(self, tweet_id):
        row = df[df.tweet_id == tweet_id].to_dict(orient="records")[0]
        self.value = row
        if type(row["response_tweet_id"]) == str :
            self.childrens = [int(x) for x in row["response_tweet_id"].split(",")]
            list_to_check = self.childrens.copy()
            for c in list_to_check:
                if c not in tweet_ids:
                    self.childrens.remove(c)
        else:
            self.childrens = []
        self.children_nodes = list()
        self.__go_deeper()
    
    def __go_deeper(self):
        for children in self.childrens:
            if (self.__check_children(children)):
                self.children_nodes.append(self.__go_deeper_by_children(children))

    def __go_deeper_by_children(self , children):
        children_node = Node(children) 
        return children_node
    
    def __check_children(self, children):
        return children in tweet_ids
    
    def explore(self):
        print(self.value)
        for children in self.children_nodes:
            children.explore()
            
    def __repr__(self):
        return "{\n" + f"{self.value},\n {self.childrens}" + "".join([repr(s) for s in self.children_nodes]) + "\n}"
    
    def __str__ (self):
        return "{\n" + f"{self.value}" + "\n}"

In [83]:
class NodesList:
    tread = 0
    def __init__(self, list_id):
        i = 0
        self.nodes_list = list()
        for x in starter_tweet_ids: 
            i+=1
            self.nodes_list.append(Node(x, NodesList.tread))
            NodeList.tread
            if i%50 == 0:
                print(f"{i} / {len(starter_tweet_ids)}")

In [197]:
n  = Node(81)

In [207]:
len(decomposition(n))

33

In [120]:
nodes_list = NodesList(starter_tweet_ids)

50 / 50

In [80]:
def decomposition(f):
    res = []
    if len(f.children_nodes) == 0:
        return [f.value]
    else:
        for c in f.children_nodes:
            tmp = [f.value , decomposition(c)]
            res.append(tmp)
    return res

In [81]:
def chek_singolarity(row):
    if type(row["response_tweet_id"]) == str :
        childrens = [int(x) for x in row["response_tweet_id"].split(",")]
        list_to_check = childrens.copy()
        for c in list_to_check:
            if c not in tweet_ids:
                childrens.remove(c)
    else:
        childrens = []
    return len(childrens)

In [179]:
z = decomposition(Node(29))

In [180]:
z

[[{'tweet_id': 29,
   'author_id': '115716',
   'inbound': True,
   'created_at': 'Tue Oct 31 22:01:35 +0000 2017',
   'text': "actually that's a broken link you sent me and incorrect information https://t.co/V4yfrHR8VI",
   'response_tweet_id': '28',
   'in_response_to_tweet_id': nan,
   'COUNTER': 1},
  [[{'tweet_id': 28,
     'author_id': 'Ask_Spectrum',
     'inbound': False,
     'created_at': 'Tue Oct 31 22:05:37 +0000 2017',
     'text': '@115716 The information pertaining to the account assumption is correct.  This does need to be done at a local outlet wit... https://t.co/P7XCmTzPQj',
     'response_tweet_id': '24',
     'in_response_to_tweet_id': 29.0,
     'COUNTER': 1},
    [[{'tweet_id': 24,
       'author_id': '115716',
       'inbound': True,
       'created_at': 'Tue Oct 31 22:13:02 +0000 2017',
       'text': '@Ask_Spectrum That is INCORRECT information I have the form in front of me that is faxed over-maybe you need to maintain up to date information',
       'response_tweet_id': '21',
       'in_response_to_tweet_id': 28.0,
       'COUNTER': 1},
      [[{'tweet_id': 21,
         'author_id': 'Ask_Spectrum',
         'inbound': False,
         'created_at': 'Tue Oct 31 22:14:37 +0000 2017',
         'text': '@115716 What information is incorrect? ^JK',
         'response_tweet_id': '22,23',
         'in_response_to_tweet_id': 24.0,
         'COUNTER': 2},
        [[{'tweet_id': 22,
           'author_id': '115716',
           'inbound': True,
           'created_at': 'Tue Oct 31 22:16:48 +0000 2017',
           'text': '@Ask_Spectrum Would you like me to email you a copy of one since Spectrum is not updating your training?',
           'response_tweet_id': '25',
           'in_response_to_tweet_id': 21.0,
           'COUNTER': 1},
          [[{'tweet_id': 25,
             'author_id': 'Ask_Spectrum',
             'inbound': False,
             'created_at': 'Tue Oct 31 22:18:28 +0000 2017',
             'text': "@115716 Our department is part of the corporate office.  If you're particular area has gone to this format, we were unawa... https://t.co/P7XCmTzPQj",
             'response_tweet_id': '26',
             'in_response_to_tweet_id': 22.0,
             'COUNTER': 1},
            [[{'tweet_id': 26,
               'author_id': '115716',
               'inbound': True,
               'created_at': 'Tue Oct 31 22:19:56 +0000 2017',
               'text': '@Ask_Spectrum I received this from your corporate office would you like a copy?',
               'response_tweet_id': '27',
               'in_response_to_tweet_id': 25.0,
               'COUNTER': 1},
              [{'tweet_id': 27,
                'author_id': 'Ask_Spectrum',
                'inbound': False,
                'created_at': 'Tue Oct 31 22:21:26 +0000 2017',
                'text': '@115716 No thank you. ^JK',
                'response_tweet_id': nan,
                'in_response_to_tweet_id': 26.0,
                'COUNTER': 0}]]]]]]]],
       [{'tweet_id': 21,
         'author_id': 'Ask_Spectrum',
         'inbound': False,
         'created_at': 'Tue Oct 31 22:14:37 +0000 2017',
         'text': '@115716 What information is incorrect? ^JK',
         'response_tweet_id': '22,23',
         'in_response_to_tweet_id': 24.0,
         'COUNTER': 2},
        [{'tweet_id': 23,
          'author_id': '115716',
          'inbound': True,
          'created_at': 'Tue Oct 31 22:16:05 +0000 2017',
          'text': '@Ask_Spectrum The correct way to do it is via an OCS Account Takeover and email Consent Form it does not need to be done in a local office',
          'response_tweet_id': nan,
          'in_response_to_tweet_id': 21.0,
          'COUNTER': 0}]]]]]]]]]

In [184]:
len(z[0][1])

1

In [191]:
df[df.tweet_id.isin(starter_tweet_ids) & df.COUNTER>1]

Empty DataFrame
Columns: [tweet_id, author_id, inbound, created_at, text, response_tweet_id, in_response_to_tweet_id, COUNTER]
Index: []

In [187]:
tweet_ids

array([  1,   2,   3,   4,   5,   6,   8,  11,  12,  15,  16,  17,  18,
        19,  20,  21,  22,  25,  26,  27,  23,  24,  28,  29,  30,  31,
        32,  33,  34,  35,  37,  36,  38,  39,  40,  41,  43,  44,  45,
        42,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
        58,  59,  60,  61,  62,  63,  64,  65,  66,  68,  69,  70,  71,
        73,  74,  75,  76,  77,  78,  79,  80,  81, 152, 153, 154, 155,
       156, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 174, 175, 176, 177, 178, 179, 180, 182, 183, 184,
       185, 187, 188, 190, 191, 192, 193, 194, 195, 199, 200, 196, 197,
       198, 201, 202, 203, 204, 205, 207, 208, 209, 210, 211, 212, 214,
       213, 215, 216, 217, 218, 219, 220, 221, 222, 224, 225, 227, 228,
       229, 230, 226, 231, 232, 234, 235, 236, 237, 238, 239, 240, 241,
       243, 244, 242, 245, 247, 249, 250, 251, 252, 254, 255, 256, 257,
       258, 259, 260, 261, 262, 263, 265, 267, 266, 264, 268, 253, 269,
       270, 271, 273, 274, 275, 272, 276, 277, 278, 279, 280, 281, 282,
       283, 284, 285, 287, 288], dtype=int64)

In [13]:
sub = df.iloc[:200].copy()

In [14]:
sub

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
...,...,...,...,...,...,...,...
195,240,AdobeCare,False,Tue Oct 31 22:14:17 +0000 2017,@115767 Sorry that this isn't more simple... l...,241,242.0
196,241,115767,True,Wed Nov 01 00:29:55 +0000 2017,@AdobeCare Didn't work. Tried it on another co...,243,240.0
197,242,115767,True,Tue Oct 31 22:11:01 +0000 2017,@AdobeCare the ctrl+alt+shift on load method d...,240,245.0
198,243,AdobeCare,False,Wed Nov 01 00:53:51 +0000 2017,@115767 Would you please DM the Adobe Product ...,244,241.0
199,244,115767,True,Wed Nov 01 01:30:43 +0000 2017,@AdobeCare sure thing,NaN,243.0

In [15]:
import re

In [16]:
def extract_company(row):
    tags = [ x.replace("@","") for x in re.findall(r'@\w+', row.text)]
    res = np.unique([x for x in tags if not x.isnumeric()])
    if len(res) == 0:
        if row.author_id.isnumeric():
            return np.NaN
        else:
            return row.author_id
    else:
        res = res[0]
        if res == row.author_id:
            return res
        else:
            if (res != row.author_id) & (not row.author_id.isnumeric()):
                return row.author_id
            else:
                return res

In [17]:
sub["company"] = sub.apply(extract_company, axis=1)

In [18]:
sub.company.value_counts()

ChipotleTweets     75
ATVIAssist         28
VerizonSupport     23
sprintcare         18
marksandspencer    13
Ask_Spectrum       12
AskPlayStation      9
MicrosoftHelps      6
AdobeCare           5
Name: company, dtype: int64

In [19]:
sub.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,company
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,sprintcare
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,sprintcare
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,sprintcare
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,sprintcare
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,sprintcare

In [20]:
sub[sub.tweet_id == 203]

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,company
160,203,MicrosoftHelps,False,Tue Oct 31 22:08:00 +0000 2017,"@115751 Hello, Josh! To get better assistance ...",204,205.0,MicrosoftHelps

In [21]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [22]:
tqdm.pandas()

In [23]:
df["company"] = df.progress_apply(extract_company, axis=1)

100%|█████████████████████████████████████████████████████████████████████| 2811774/2811774 [02:46<00:00, 16906.91it/s]

In [28]:
df["start"] = df.in_response_to_tweet_id.isna()

In [29]:
df["end"] = df.response_tweet_id.isna()

In [75]:
ex = df[df.tweet_id.isin([49,48,47,46,42,40,41,43,44,45])].copy()

In [76]:
ex.loc[40,:].text

'@VerizonSupport What else can I provide? They refuse to help me because they cannot validate the account...'

In [77]:
def user_company_check(row):
    if row.author_id.isnumeric():
        return False #user
    else:
        return True #company

In [78]:
ex["company_creator"] = ex.progress_apply(user_company_check, axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 18876.26it/s]

In [89]:
df["company_creator"] = df.progress_apply(user_company_check, axis=1)

100%|█████████████████████████████████████████████████████████████████████| 2811774/2811774 [01:10<00:00, 40134.26it/s]

In [95]:
ex["order"] = np.NaN

In [133]:
class Node2:
    order = 0
    def __init__(self, tweet_id):
        row = df[df.tweet_id == tweet_id].to_dict(orient="records")[0]
        ex.loc[df.tweet_id == tweet_id ,"order"] = Node2.order
        self.value = row
        if type(row["response_tweet_id"]) == str :
            self.childrens = [int(x) for x in row["response_tweet_id"].split(",")]
            list_to_check = self.childrens.copy()
            for c in list_to_check:
                if c not in tweet_ids:
                    self.childrens.remove(c)
        else:
            self.childrens = []
        self.children_nodes = list()
        self.__go_deeper()
    
    def __go_deeper(self):
        for children in self.childrens:
            if (self.__check_children(children)):
                self.children_nodes.append(self.__go_deeper_by_children(children))

    def __go_deeper_by_children(self , children):
        Node2.order= Node2.order +1 
        children_node = Node2(children) 
        return children_node
    
    def __check_children(self, children):
        return children in tweet_ids
    
    def explore(self):
        print(self.value)
        for children in self.children_nodes:
            children.explore()
            
    def __repr__(self):
        return "{\n" + f"{self.value},\n {self.childrens}" + "".join([repr(s) for s in self.children_nodes]) + "\n}"
    
    def __str__ (self):
        return "{\n" + f"{self.value}" + "\n}"

In [134]:
n = Node2(49)